<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mobile.akumina.sample.android">
    <!-- Required permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="com.mobile.akumina.sample.android.AkuminaApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ProfilesActivity"
            android:exported="false"/>
        <activity
            android:name=".activity.LoadingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.WebActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ErrorActivity"
            android:exported="false" />
        <activity
            android:name="com.mobile.akumina.sample.android.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.microsoft.intune.mam.FullBackupContent"
            android:value="true" />
        <meta-data
            android:name="com.microsoft.intune.mam.DataExtractionRules"
            android:value="true" />
        <meta-data
            android:name="com.microsoft.intune.mam.aad.ClientID"
            android:value="b86cf6b1-745b-47ce-a3c1-912f7ee3d8ac" />
        <meta-data
            android:name="com.microsoft.intune.mam.aad.Authority"
            android:value="https://login.microsoftonline.com/15d05f6e-046b-4ed5-9ab8-4b6c25f719b5" />
        <meta-data
            android:name="com.microsoft.intune.mam.aad.SkipBroker"
            android:value="false" />
        <meta-data
            android:name="com.microsoft.intune.mam.aad.NonBrokerRedirectURI"
            android:value="" />

        <receiver
            android:name="com.microsoft.intune.mam.client.service.MAMBackgroundReceiver"
            android:exported="true" /> <!-- Must be specified to allow users to login via MSAL -->
        <activity
            android:name="com.microsoft.identity.client.BrowserTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.mobile.akumina.sample.android"
                    android:path="/Xo8WBi6jzSxKDVR4drqm84yr9iU="
                    android:scheme="msauth" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mobile.akumina.sample.android.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
    </application>

</manifest>